Literature/Science-2013-Joppa-814-5.pdf Literature/hayden2013nature.pdf Literature/petre2014code.pdf Literature/wp-cc-11-best-practices-of-peer-code-review.pdf
Literature/
email-list-interested-parties.txt
first-email.md
